<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcim.intrusiondetection"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hcim.auric.intrusiondetection.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.ConfigurationsView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.OtherFaceConfigView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.MyFaceConfigView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.IntrusionsOverview" >
        </activity>
        <activity android:name="swat.record.RunInteraction" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.IntrusionView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.IntrusionsList" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.MyPictureView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.CapturedPictureView" >
        </activity>
        <activity android:name="hcim.auric.intrusiondetection.Replay" >
        </activity>

        <service
            android:name="hcim.auric.authentication.AuthenticationService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="hcim.auric.authentication.AuthenticationReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>