<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcim.intrusiondetection"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/auric_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="hcim.auric.general_activities.CalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hcim.auric.general_activities.settings.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.QuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.passcode.InsertPasscode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.passcode.ConfirmAndTurnOffPasscode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.passcode.Unlock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.passcode.ConfirmAndChangePasscode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.images.GridOfRecognizedPictures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.images.FullPicture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.record.screencast.RunScreencast"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.record.events.RunTimelineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.record.events.Details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.camera.RecognitionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="hcim.auric.camera.DetectionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.SessionsListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.images.SlideShowIntrusionPictures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.images.SlideShowRecognizedPictures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.images.SlideShowSetOfPictures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.Welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="hcim.auric.general_activities.settings.TestPhoto"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="hcim.auric.service.BackgroundService"
            android:enabled="true" >
        </service>
        <service
            android:name="hcim.auric.accessibility.AuricEvents"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <receiver
            android:name="hcim.auric.service.AutoStart"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>